/* .dummy{ 
    /* box-sizing: border-box; 
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: sans-serif;

}

.paragraph{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: right;
}*/

@font-face {
    font-family: "Norse-Bold";
    src: url(content/Norse-Bold.otf) format('opentype');
    
}

#header{
    font-family: 'Norse-Bold';
    /* font-size: larger; */
    font-weight: bold;
    text-align: center;
}


.page, .rightSide{
    display: flex;
}
.page{
    width: 100vw;
    height: 100vh;
}
.leftSide{
    min-width: 400px;
    background-image: url(content/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:40vw;
    height: 100vh;
}
.header{
    padding: 8vh 1vw;
    background-color: #e6e4e4;
}
.rightSide{
    flex-flow: column nowrap;
    /* justify-content: center; */
}

.data.sheet{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.data.sheet>div{
    display: flex;
    flex-flow: column;
    width: 40%;
}