
@font-face {
    font-family: "Norse-Bold";
    src: url(content/Norse-Bold.otf) format('opentype');
}


:root{
    background-color: #e6e4e4;
    --font-order: "Segoe UI", Helvetica, Arial, sans-serif;
    --font-norse: 'Norse-Bold';
}

body{
    font-family: var(--font-order);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
}

#header{
    font-family: var(--font-norse, --font-order);
    font-weight: bold;
    text-align: center;
}


.page, .rightSide{
    display: flex;
}
.leftSide{
    min-width: 400px;
    background-image: url(content/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:40vw;
    height: 131vh;
}
.logo {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: rgb(0,0,0,0.3);
    top: 30vh;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    color: #FFFF;
    font-family: "Norse-bold", sans-serif;
    font-size: 5rem;
}
.logo-image{
    height: 25vh;
}
.header{
    padding: 8vh 1vw;
}
.rightSide{
    flex-flow: column nowrap;
}

#form-content {
    background-color: #ffff;
    gap: 15px;
    padding: 1rem 1rem 3rem 1rem;
    border-bottom: #424242 1px solid;
    margin-bottom: 3px;
    box-shadow: 0px 3px 5px -2px rgb(0,0,0,0.5);
}
.data.sheet{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.data.sheet>div{
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    width: 35%;
    margin-left: 10px;
    gap: 5px;
    box-sizing: border-box;
}
h2.form-header {
    margin: -5px 32rem 0 9px;
}
label{
    font-size:17px;
}
p.match-pass{
    color: red;
    margin: 0;
}
input{
    width: 13rem;
    border:black 1px solid;
    border-radius: 4px;
    height: 30px;
}
input:focus {
    box-shadow: 0px 7px 5px -5px rgb(0,0,0,0.5);
}

form.submitted #user_password:invalid, form.submitted #confirm_password:invalid{
    border-color: red;
}
form.validated #user_password:valid, form.validated #confirm_password:valid{
    border-color: green;
    border-width: medium;
}

img#togglePassword {
    height: 24px;
    width: 24px;
    position: relative;
    float: right;
    margin-left: 11rem;
    margin-top: -2rem;
    cursor: pointer;
}
#form-submit{
    display: flex;
    flex-flow: column wrap;
    padding: 2vw 5vh;
    background-image: linear-gradient(to bottom, rgb(230, 228, 228, 0.0), rgb(230, 228, 228,1));
    gap:1rem;
}

.button-box {
    display: flex;
    flex-flow: row;
    flex-shrink: 0;
}
button {
    padding: 0.7rem 1rem;
    background-color: rgb(47 97 47);
    color: #FFFF;
    font-family: var(--font-order);
    font-size: large;
    font-weight:700;
    border-radius: 10px;
    cursor: pointer;
}
a:link, a:visited {
    text-decoration: none;
    color: rgb(47 97 47);
    font-size: large;
    font-weight: 900;
}