/* .dummy{ 
    /* box-sizing: border-box; 
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: sans-serif;

}

.paragraph{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: right;
}*/

@font-face {
    font-family: "Norse-Bold";
    src: url(content/Norse-Bold.otf) format('opentype');
    
}

#header{
    font-family: 'Norse-Bold';
    /* font-size: larger; */
    font-weight: bold;
    text-align: center;
}

.page, .rightSide, .leftSide{
    display: flex;
}
img{
    width:100%;
}

.rightSide,.leftSide{
    flex-flow: column wrap;
    /* justify-content: center; */
}

.data.sheet{
    display: flex;
    flex-flow: row wrap;
}
.data.sheet>div{
    display: flex;
    flex-flow: column;
}